.footer {
  width: 100%;
  min-height: 164px;
  margin-top: -164px;
  background-color: rgba($main-text-color, 0.1);
  position: relative;
  z-index: 1;

  .footer__wrap {
    width: 100%;
    display: flex;
  }

  .footer__block_nav {
    width: 80.2%;
    margin-top: 72px;
    padding-left: 127px;
    padding-right: 153px;
  }

  .footer__nav_link {
    width: 100%;
    display: flex;
    align-items: center;
    color: $main-text-color;
    justify-content: space-between;

    a {
      @include opacity-link;
      font-family: $main-font-bold;
      width: 11rem;
      font-size: 1.14rem;
      margin: 0 10px 0 10px;
    }
  }

  .footer__block_button {
    width: 19.8%;
    display: flex;
    flex-direction: column;
    color: $main-text-color;

    button {
      @include button-reset;
      @include opacity-link;
      height: 82px;
      font-size: 1.14rem;

      &:first-child {
        background-color: #bab7b7;
      }

      &:last-child {
        background-color: #4ebded;
      }
    }
  }

  @media (max-width: $desktop-width) {
    .footer__block_nav {
      width: 77.2%;
      padding-left: 14px;
      padding-right: 15px;
    }

    .footer__block_button {
      width: 22.8%;
    }
  }

  @media (max-width: $table-width) {
    margin-top: 0;

    .footer__block_nav {
      display: none;
    }

    .footer__block_button {
      width: 100%;
    }
  }
}
