.main {
  width: 100%;
  height: 100vh;
  min-height: 847px;
  background-color: #1b1b1d;
  background-image: url("../img/bg/img_logo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../../img/bg/img_logo@2x.png");
  }

  @media (max-width: $desktop-width) {
    background-size: 187%;
  }

  @media (max-width: $table-width) {
    height: auto;
    min-height: 849px;
    background-size: 275%;
    background-position: 50% 50%;
  }
}
