// $desktop-width: 1199px;
// $table-width: 767px;
// $auxiliary-color: #ffffff;
$main-text-color: #ffffff;
$main-font: "Play", "Arial", sans-serif;
$main-font-bold: "Play Bold", "Arial", sans-serif;





